.menu-text
{
  color: $topbar-menu-text !important;
}

.present
{
  height:80vh;
  width: 100%;
  background: url("./SL550598-low.JPG") fixed center center;
  background-size: cover;
  padding: 10%;
}

h1.text-center
{
  background : $topbar-background;
  margin-bottom: 0px;
}

p.text-justify
{
  padding: 15px;
  padding-left: 0px;
}

.subtitle
{
  background: $subtitle-background;
  margin: 20px 0;
}

.subtitle > .row > h2
{
  text-shadow: #222 0px 0px 5px;
}

h1 + .subtitle {
  margin-top: 0;
}

.progress-meter-2, .label-2
{
  background: adjust-hue( $progress-meter-background, -15% );
}

.progress-meter-3, .label-3
{
  background: adjust-hue( $progress-meter-background, -30% );
}

a.fa
{
  margin-left: 15px;
}

.fa-arrow-circle-o-up
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: $topbar-menu-text;
  color:white;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  padding-right: 2px;
  cursor:pointer;
  opacity: 0;
}

.present p
{
  font-size:x-large;
  font-weight:bold;
}

.row
{
  font-size: larger;
}