
$white: #eee !default;

$topbar-background: #222 !default;
$topbar-link-color: #FF8C00 !default;
$topbar-menu-text: #B86500 !default;

$header-color: $topbar-menu-text !default;

$anchor-color: $topbar-link-color !default;

$body-font-family: "Ubuntu";

$progress-meter-background: #EF661B !default;
$label-background: $progress-meter-background !default;