@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import "settings";
@import '../bower_components/foundation-sites/scss/foundation.scss';
@import '../bower_components/components-font-awesome/scss/font-awesome';
@include foundation-everything;

.menu-text
{
  color: $topbar-menu-text;
}

.present
{
  height:80vh;
  width: 100%;
  background: url("SL550598-low.JPG") fixed center center;
  background-size: cover;
  padding: 10%;
}

.callout > h1
{
  color:black !important;
}

h1.text-center
{
  background : $topbar-background;
  margin-bottom: 0px;
}

p.text-justify
{
  padding: 15px;
}

.subtitle
{
  background: lighten( $topbar-background, 25% );
}

.subtitle > .row > h2
{
  text-shadow: #222 0px 0px 5px;
}

.progress-meter-2
{
  background: adjust-hue( $progress-meter-background, -15% );
}

.progress-meter-3
{
  background: adjust-hue( $progress-meter-background, -30% );
}

a.fa
{
  margin-left: 15px;
}

.fa-arrow-circle-o-up
{
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: $topbar-menu-text;
  color:white;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  padding-top: 3px;
  padding-right: 2px;
  cursor:pointer;
  opacity: 0;
}