@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import "settings";
@import '../bower_components/foundation-sites/scss/foundation.scss';

@include foundation-everything;

.menu-text
{
  color: $topbar-menu-text;
}

.present
{
  height:80vh;
  width: 100%;
  background: url("SL550598-low.JPG") fixed center center;
  background-size: cover;
  padding: 10%;
}

.callout > h1
{
  color:black !important;
}